<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-12 mt-5px container">
       
<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
  <div style="color: white; font-size:20px">Dashboard</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto fw-bold" style="color:white">
      <li class="nav-item active">
        <a class="nav-link ml-auto text-white" href="/signup">Create account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-auto text-white" href="">Logout</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link text-white" href="#service">OurServices</a>
      </li>
    </ul>
    </div>
</nav>
</div>
    </div>
</div>